@charset "utf-8";
/*.nav-tabs{
    border: 1px solid #ddd;
    border-right: 0px;
    padding-right: 0px;
}*/

ul.nav-tabs {
    background-color: #eee;
}


.W120 .th-inner {
    width:120px !important;
}
.W80 .th-inner {
    width:80px !important;
}
.W60 .th-inner {
    width:60px !important;
}

.W150 .th-inner {
    width:150px !important;
}