<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>

	专业信息
	<div th:fragment="info" >
		<!--专业（群）基本情况-基础信息-->
		<div id='1' class="col-md-12 jumbotron">
		<form class="form-horizontal"  method="post" id="majorEditForm_basicInfo" name="majorEditForm_basicInfo" style="width: 90%" >
			<fieldset>
				<legend>基础信息</legend>
				<div class="form-group">
					<div class="rowGroup">
						<label for="t1" class="col-sm-2 control-label">专业（群）名称：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="t1" name="t1" placeholder="请输入专业（群）名称" value="" />
						</div>
					</div>
					<div class="rowGroup">
						<label for="t2" class="col-sm-2 control-label">专业所属大类：</label>
						<div class="col-sm-4">
							<select class="form-control" id="t2" name="t2" >
								<option value="农林牧渔大类">农林牧渔大类</option>
								<option value="资源环境与安全大类">资源环境与安全大类</option>
								<option value="能源动力与材料大类">能源动力与材料大类</option>
								<option value="土木建筑大类">土木建筑大类</option>
								<option value="水利大类">水利大类</option>
								<option value="装备制造大类">装备制造大类</option>
								<option value="生物与化工大类">生物与化工大类</option>
								<option value="轻工纺织大类">轻工纺织大类</option>
								<option value="食品药品与粮食大类">食品药品与粮食大类</option>
								<option value="交通运输大类">交通运输大类</option>
								<option value="电子信息大类">电子信息大类</option>
								<option value="医药卫生大类">医药卫生大类</option>
								<option value="财经商贸大类">财经商贸大类</option>
								<option value="旅游大类">旅游大类</option>
								<option value="文化艺术大类">文化艺术大类</option>
								<option value="新闻传播大类">新闻传播大类</option>
								<option value="教育与体育大类">教育与体育大类</option>
								<option value="公安与司法大类">公安与司法大类</option>
								<option value="公共管理与服务大类">公共管理与服务大类</option>
							</select>
						</div>
					</div>
	  			</div>
				<div class="form-group">
					<div class="rowGroup">
						<label for="t3" class="col-sm-2 control-label">龙头专业代码：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="t3" name="t3"
								   placeholder="请输入龙头专业代码" value=""/>
						</div>
					</div>
					<div class="rowGroup">
					<label for="t4" class="col-sm-2 control-label">所在院（系）：</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="t4" name="t4" placeholder="请输入所在院（系）" value="" />
					</div>
					</div>
				</div>

				<div class="form-group">
					<div class="rowGroup">
						<label for="t5" class="col-sm-2 control-label">专业批准设置时间：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="t5" name="t5" value=""
								   placeholder="请填写专业批准设置时间"/>
						</div>
					</div>
					<div class="rowGroup">
						<label for="t6" class="col-sm-2 control-label">国示或省重专业及批准时间：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="t6" name="t6" value=""
								   placeholder="请填写是否国示或省重专业及批准时间"/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="rowGroup">
						<label for="t7" class="col-sm-2 control-label">首届学生毕业时间：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="t7" name="t7"
								   value="" placeholder="请填写建校日期"/>
						</div>
					</div>
					<div class="rowGroup">
						<label for="n1" class="col-sm-2 control-label">专业在校生数（含顶岗实习学生人数） ：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n1" name="n1" value=""
								   placeholder="请填写专业在校生数（含顶岗实习学生人数"/>
						</div>
					</div>
				</div>
			</fieldset>
			<div class="form-group">
				<input type="button" id="saveBasicInfo" class="btn btn-primary btn-default center-block" value="提交">
			</div>
		</form>
		</div>

		<!--专业（群）基本情况-基础数据-->
		<div id='2' class="col-md-12 jumbotron">
			<form class="form-horizontal"  method="post" id="majorEditForm_basicData" name="majorEditForm_basicData" style="width: 90%" >
				<fieldset>
					<legend>专业（群）基本情况-基础数据</legend>
					<div class="form-group">
						<div class="rowGroup">
							<label for="n2" class="col-sm-2 control-label">2017年专业招生人数/专业在校生人数（人）：</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="n2" name="n2"
									   placeholder="请输入2017年专业招生人数/专业在校生人数（人）" value=""/>
							</div>
						</div>
						<div class="rowGroup">
							<label for="n3" class="col-sm-2 control-label">2018年专业招生人数/专业在校生人数（人）：</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="n3" name="n3"
									   placeholder="请输入2018年专业招生人数/专业在校生人数（人）" value=""/>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="rowGroup">
							<label for="n4" class="col-sm-2 control-label">2019年专业招生人数/专业在校生人数（人）：</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="n4" name="n4"
									   placeholder="请输入2019年专业招生人数/专业在校生人数（人）" value=""/>
							</div>
						</div>
						<div class="rowGroup">
							<label for="n5" class="col-sm-2 control-label">2017年毕业生数：</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="n5" name="n5"
									   placeholder="请输入2017年毕业生数" value=""/>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="rowGroup">
							<label for="n6" class="col-sm-2 control-label">2018年毕业生数：</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="n6" name="n6" placeholder="请输入2018年毕业生数"
									   value=""/>
							</div>
						</div>
						<div class="rowGroup">
							<label for="n7" class="col-sm-2 control-label">2019年毕业生数：</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="n7" name="n7"
									   placeholder="请输入2019年毕业生数" value=""/>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="rowGroup">
						<label for="n8" class="col-sm-2 control-label">2018届毕业生年底就业率（%）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n8" name="n8" placeholder="请输入2018届毕业生年底就业率（%）" value="" />
						</div>
						</div>
						<div class="rowGroup">
						<label for="n9" class="col-sm-2 control-label">2018届毕业生用人单位满意或基本满意比例（%）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n9" name="n9"
								   placeholder="请输入2018届毕业生用人单位满意或基本满意比例（%）" value="" />
						</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
							<label for="n10" class="col-sm-2 control-label">校内专任教师数（人）：</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="n10" name="n10" placeholder="请输入校内专任教师数（人）"
									   value=""/>
							</div>
						</div>
						<div class="rowGroup">
							<label for="n11" class="col-sm-2 control-label">专任教师双师素质比例（%）：</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="n11" name="n11"
									   placeholder="请输入专任教师双师素质比例（%）" value=""/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
							<label for="n12" class="col-sm-2 control-label">校内专任教师高级职称人数（人）：</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="n12" name="n12"
									   placeholder="请输入校内专任教师高级职称人数（人）" value=""/>
							</div>
						</div>
						<div class="rowGroup">
							<label for="n13" class="col-sm-2 control-label">专任教师研究生以上学历人数比例（%）：</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="n13" name="n13"
									   placeholder="请输入专任教师研究生以上学历人数比例（%）" value=""/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
							<label for="n14" class="col-sm-2 control-label">2018-20198学年兼职教师总数（人）：</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="n14" name="n14"
									   placeholder="请输入2018-20198学年兼职教师总数（人）" value=""/>
							</div>
						</div>
						<div class="rowGroup">
							<label for="n15" class="col-sm-2 control-label">兼职教师人数占专业课教师总数的比例（%）：</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="n15" name="n15"
									   placeholder="请输入兼职教师人数占专业课教师总数的比例（%）" value=""/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
							<label for="n16" class="col-sm-2 control-label">校内实训基地数（个）：</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="n16" name="n16" placeholder="请输入校内实训基地数（个）"
									   value=""/>
							</div>
						</div>
						<div class="rowGroup">
							<label for="n17" class="col-sm-2 control-label">校内实训基地工位数（个）：</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="n17" name="n17"
									   placeholder="请输入校内实训基地工位数（个）" value=""/>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
						<label for="n18" class="col-sm-2 control-label">校内实训基地生均设备值（万元/生）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n18" name="n18" placeholder="请输入校内实训基地生均设备值（万元/生）" value="" />
						</div>
						</div>
						<div class="rowGroup">
						<label for="n19" class="col-sm-2 control-label">2018-2019学年校内实训基地使用频率（人时）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n19" name="n19"
								   placeholder="请输入2018-2019学年校内实训基地使用频率（人时）" value="" />
						</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
						<label for="n20" class="col-sm-2 control-label">校外实习实训基地数（个）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n20" name="n20" placeholder="请输入校外实习实训基地数（个）" value="" />
						</div>
						</div>
						<div class="rowGroup">
						<label for="n21" class="col-sm-2 control-label">2018-2019学年校外实习实训基地接受半年顶岗实习学生数（人）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n21" name="n21"
								   placeholder="请输入2018-2019学年校外实习实训基地接受半年顶岗实习学生数（人）" value="" />
						</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
						<label for="n22" class="col-sm-2 control-label">校外实习实训基地接收2019届毕业生就业数（人）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n22" name="n22" placeholder="请输入校外实习实训基地接收2019届毕业生就业数（人）" value="" />
						</div>
						</div>
						<div class="rowGroup">
						<label for="n23" class="col-sm-2 control-label">本专业合作企业总数（个）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n23" name="n23"
								   placeholder="请输入本专业合作企业总数（个）" value="" />
						</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
						<label for="n24" class="col-sm-2 control-label">本专业合作企业订单培养总数（人）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n24" name="n24" placeholder="请输入本专业合作企业订单培养总数（人）" value="" />
						</div>
						</div>
						<div class="rowGroup">
						<label for="n25" class="col-sm-2 control-label">本专业合作企业共同开发课程总数（门）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n25" name="n25"
								   placeholder="请输入本专业合作企业共同开发课程总数（门）" value="" />
						</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
						<label for="n26" class="col-sm-2 control-label">本专业合作企业支持学校兼职教师总数（人）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n26" name="n26" placeholder="请输入本专业合作企业支持学校兼职教师总数（人）" value="" />
						</div>
						</div>
						<div class="rowGroup">
						<label for="n27" class="col-sm-2 control-label">合作企业对本专业准捐赠设备总值（万元）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n27" name="n27"
								   placeholder="请输入合作企业对本专业准捐赠设备总值（万元）" value="" />
						</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
						<label for="n28" class="col-sm-2 control-label">合作企业对本专业捐赠设备总值（万元）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n28" name="n28" placeholder="请输入合作企业对本专业捐赠设备总值（万元）" value="" />
						</div>
						</div>
						<div class="rowGroup">
						<label for="n29" class="col-sm-2 control-label">本专业为企业培训员工总数（人天）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n29" name="n29"
								   placeholder="请输入本专业为企业培训员工总数（人天）" value="" />
						</div>
						</div>
					</div>
				</fieldset>
				<div class="form-group">
					<input type="button" id="saveBasciData" class="btn btn-default btn-primary center-block" value="提交">
				</div>
			</form>
		</div>
		<!--专业（群）带头人基本情况-->
		<div id='3' class="col-md-12 jumbotron">
		<form class="form-horizontal"  method="post" id="majorEditForm_leaderInfo" name="majorEditForm_leaderInfo" style="width: 90%" >
				<fieldset>
					<legend>专业（群）带头人基本情况</legend>
					<div class="form-group">
						<div class="rowGroup">
							<label for="t8" class="col-sm-2 control-label">姓名：</label>
							<div class="col-sm-4">
								<input type="text" class="form-control" id="t8" name="t8" placeholder="请输入姓名" value=""/>
							</div>
						</div>
						<div class="rowGroup">
							<label class="col-sm-2 control-label">性别：</label>
							<div class="col-sm-4">
								<div class="radio-list">
									<label>
										<input type="radio" id="sex1" name="t9" value="男" data-title="男" checked/> 男
									</label>
									<label>
										<input type="radio" id="sex2" name="t9" value="女" data-title="女"/> 女
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
						<label for="t10" class="col-sm-2 control-label">出生年月：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="t10" name="t10" placeholder="请输入出生年月" value="" />
						</div>
						</div>
						<div class="rowGroup">
						<label for="t11" class="col-sm-2 control-label">参加工作时学历及所学专业：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="t11" name="t11"
								   placeholder="请输入参加工作时学历及所学专业" value="" />
						</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
						<label for="t12" class="col-sm-2 control-label">最后学历及所学专业：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="t12" name="t12" placeholder="请输入最后学历及所学专业" value="" />
						</div>
						</div>
						<div class="rowGroup">
						<label for="t13" class="col-sm-2 control-label">专业技术职称：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="t13" name="t13"
								   placeholder="请输入专业技术职称" value="" />
						</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
						<label for="t14" class="col-sm-2 control-label">证书擅长专业领域：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="t14" name="t14" placeholder="请输入证书擅长专业领域" value="" />
						</div>
						</div>
						<div class="rowGroup">
						<label for="t15" class="col-sm-2 control-label">职务：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="t15" name="t15"
								   placeholder="请输入职务" value="" />
						</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
						<label for="t16" class="col-sm-2 control-label">职业资格（含行业企业认证）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="t16" name="t16" placeholder="请输入职业资格（含行业企业认证）" value="" />
						</div>
						</div>
						<div class="rowGroup">
						<label for="t17" class="col-sm-2 control-label">主要社会兼职：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="t17" name="t17"
								   placeholder="请输入主要社会兼职" value="" />
						</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
						<label for="t18" class="col-sm-2 control-label">主要业绩（含企业实践）及相关荣誉：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="t18" name="t18" placeholder="请输入主要业绩（含企业实践）及相关荣誉" value="" />
						</div>
						</div>
					</div>
				</fieldset>
				<div class="form-group">
					<input type="button" id="saveLeaderInfo" class="btn btn-primary btn-default center-block" value="提交">
				</div>
			</form>
		</div>
		<!--专业（群）建设成果表-->
		<div id='4' class="col-md-12 jumbotron">
		<form class="form-horizontal"  method="post" id="majorEditForm_achievements" name="majorEditForm_leaderInfo" style="width: 90%" >
				<fieldset>
					<legend>基础信息</legend>
					<div class="form-group">
						<div class="rowGroup">
							<label class="col-sm-2 control-label">是否入选“吉林省普通高等学校高水平专业（群）建设计划：</label>
							<div class="col-sm-4">
								<div class="">
									<label class="checkbox-inline">
										<input type="checkbox" name="t19" value="1">A类</label>
									</label>
									<label class="checkbox-inline">
									<input type="checkbox" name="t19" value="2">b类</label>
									</label>
									<label class="checkbox-inline">
									<input type="checkbox" name="t19" value="0">否</label>
									</label>
								</div>
							</div>
						</div>
						<div class="rowGroup">
						<label class="col-sm-2 control-label">是否选入国家、省级重点专业：</label>
						<div class="col-sm-4">
							<label class="checkbox-inline">
							<input type="checkbox" id="t20-1" name="t20" value="1">国示范</label>
							</label>
							<label class="checkbox-inline">
							<input type="checkbox" id="t20-2" name="t20" value="2">国骨干</label>
							</label>
							<label class="checkbox-inline">
							<input type="checkbox" id="t20-3" name="t20" value="3">国优质</label>
							</label>
							<label class="checkbox-inline">
							<input type="checkbox" id="t20-4" name="t20" value="4">省示范</label>
							</label>
							<label class="checkbox-inline">
							<input type="checkbox" id="t20-5" name="t20" value="5">省品牌</label>
							</label>
							<label class="checkbox-inline">
							<input type="checkbox" id="t20-6" name="t20" value="6">省特色</label>
							</label>
							<label class="checkbox-inline">
							<input type="checkbox" id="t20-0" name="t20" value="0">否</label>
							</label>
						</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
						<label class="col-sm-2 control-label">是否入选“吉林省现代职业教育改革发展示范校建设计划项目”：</label>
						<div class="col-sm-4">
							<div class="radio-list">
								<label>
									<input type="radio" id="t21-1" name="t21" value="是" data-title="是" checked/>是
								</label>
								<label>
									<input type="radio" id="t21-2" name="t21" value="否" data-title="否"/>否
								</label>
							</div>
						</div>
						</div>
						<div class="rowGroup">
						<label for="n30" class="col-sm-2 control-label">骨干专业国家级现代学徒制试点项目数（个）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n30" name="n30"
								   placeholder="请输入骨干专业国家级现代学徒制试点项目数（个）" value="" />
						</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
						<label for="n31" class="col-sm-2 control-label">骨干专业省级现代学徒制试点项目数（个）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n31" name="n31" placeholder="请输入骨干专业省级现代学徒制试点项目数（个）" value="" />
						</div>
						</div>
						<div class="rowGroup">
						<label for="n32" class="col-sm-2 control-label">近两届骨干专业国家级教学成果奖数（个）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n32" name="n32"
								   placeholder="请输入近两届骨干专业国家级教学成果奖数（个）" value="" />
						</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
						<label for="n33" class="col-sm-2 control-label">近两届骨干专业省级教学成果奖数（个）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n33" name="n33" placeholder="请输入近两届骨干专业省级教学成果奖数（个）" value="" />
						</div>
						</div>
						<div class="rowGroup">
						<label for="n34" class="col-sm-2 control-label">专业群学生国赛获奖数（个）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n34" name="n34"
								   placeholder="请输入专业群学生国赛获奖数（个）" value="" />
						</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
						<label for="n35" class="col-sm-2 control-label">专业群学生省赛获奖数（个）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n35" name="n35" placeholder="请输入专业群学生省赛获奖数（个）" value="" />
						</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
						<label for="n36" class="col-sm-2 control-label">专业群教师队伍建设成果数：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n36" name="n36"
								   placeholder="请输入专业群教师队伍建设成果数" value="" />
						</div>
						</div>
						<label class="col-sm-6 control-label"><span style="color: red;">*</span>（国家职业教育教师教学创新团队、省级及以上黄大年式教学团队、长白山技能名师、省级及以上教师教学大赛获奖）（个）</label>
					</div>
					<div class="form-group">
						<div class="rowGroup">
						<label for="n37" class="col-sm-2 control-label">专业群三年累计社会培训和鉴定人数（个）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n37" name="n37" placeholder="请输入专业群三年累计社会培训和鉴定人数（个）" value="" />
						</div>
						</div>
						<div class="rowGroup">
						<label for="n38" class="col-sm-2 control-label">国家级科研成果、论文与专利数（个）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n38" name="n38"
								   placeholder="请输入国家级科研成果、论文与专利数（个）" value="" />
						</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
						<label for="n39" class="col-sm-2 control-label">省级科研成果、论文与专利数（个）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n39" name="n39" placeholder="请输入省级科研成果、论文与专利数（个）" value="" />
						</div>
						</div>
						<div class="rowGroup">
						<label for="n40" class="col-sm-2 control-label">骨干专业在校生规模（人数）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n40" name="n40"
								   placeholder="请输入骨干专业在校生规模（人数）" value="" />
						</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
						<label for="n41" class="col-sm-2 control-label">专业（群）实训基地建设成果数（个）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n41" name="n41" placeholder="请输入专业（群）实训基地建设成果数（个）" value="" />
						</div>
						</div>
						<div class="rowGroup">
						<label for="n42" class="col-sm-2 control-label">专业群服务“一带一路”战略的国际交流与合作项目数（个）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n42" name="n42"
								   placeholder="请输入专业群服务“一带一路”战略的国际交流与合作项目数（个）" value="" />
						</div>
						</div>
					</div>
					<div class="form-group">
						<div class="rowGroup">
						<label for="n43" class="col-sm-2 control-label">专业群建设各级专项资金投入（单位：万元）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n43" name="n43" placeholder="请输入专业群建设各级专项资金投入（单位：万元）" value="" />
						</div>
						</div>
						<div class="rowGroup">
						<label for="n44" class="col-sm-2 control-label">其他省级以上标志性成果数（个）：</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="n44" name="n44"
								   placeholder="请输入其他省级以上标志性成果数（个）" value="" />
						</div>
						</div>
					</div>
				</fieldset>
				<div class="form-group">
					<input type="button" id="saveAchievements" class="btn btn-default btn-primary center-block" value="提交">
				</div>

			</form>
		</div>

	</div>

</body>
</html>