<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>

	<div th:fragment="info" >
		<div id='1' class="col-md-12 jumbotron">
		<form class="form-horizontal"  method="post" id="schoolEditForm" name="schoolEditForm" style="width: clac(90%+2em)" >
		<fieldset>
		<legend>基础信息</legend>
		<input type="hidden" name="id" id="id" th:value="${d.id}">
		<div class="form-group">
			<div class="rowGroup">
	    	<label for="schoolName" class="col-sm-2 control-label">学校名称：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="schoolName" name="schoolName" 
	      			placeholder="院校名称须与教育部备案信息一致" th:value="${d.schoolName}" />
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="address" class="col-sm-2 control-label">学校地址：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="address" name="address" 
	      			placeholder="填写省、市两级，如xx省（市、自治区）xx市（区）" th:value="${d.address}" />
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	    	<label for="buildDay" class="col-sm-2 control-label">建校日期：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="buildDay" name="buildDay" 
	      			th:value="${#dates.format(d.buildDay, 'yyyy-MM-dd')}" autocomplete="off" placeholder="院校独立设置具有举办高等职业教育资格的时间"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="nature" class="col-sm-2 control-label">学校性质：</label>
	    	<div class="col-sm-4">
	      		<select class="form-control" id="nature" name="nature" >
	      			<option value="公办" th:field="${d.nature}">公办</option>
	      			<option value="私立" th:field="${d.nature}">私立</option>
	      		</select>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	    	<label for="type" class="col-sm-2 control-label">举办单位：</label>
	    	<div class="col-sm-4">
	      		<select class="form-control" id="type" name="type" >
	      			<option value="省级政府" th:field="${d.type}">省级政府</option>
	      			<option value="地市级政府" th:field="${d.type}">地市级政府</option>
	      			<option value="行业" th:field="${d.type}">行业</option>
	      			<option value="企业" th:field="${d.type}">企业</option>
	      			<option value="其他" th:field="${d.type}">其他</option>
	      		</select>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="website" class="col-sm-2 control-label">学校网址：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="website" name="website" 
	      			th:value="${d.website}"  placeholder="请填写学校网址"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="postalAddress" class="col-sm-2 control-label">通讯地址：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="postalAddress" name="postalAddress" 
	      			th:value="${d.postalAddress}"  placeholder="请填写学校通讯地址"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="postcode" class="col-sm-2 control-label">邮编：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="postcode" name="postcode" 
	      			th:value="${d.postcode}"  placeholder="请填写学校邮编"/>
	    	</div>
	    	</div>
	  	</div>
		  	
		</fieldset>
		
		<fieldset>
		<legend>法人信息</legend>
		<div class="form-group">
			<div class="rowGroup">
	  		<label for="leName" class="col-sm-2 control-label">法人姓名：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="leName" name="leName" 
	      			th:value="${d.leName}"  placeholder="请填写学校法人姓名"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="lePost" class="col-sm-2 control-label">法人职务：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="lePost" name="lePost" 
	      			th:value="${d.lePost}"  placeholder="请填写法人职务"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="leOfficePhone" class="col-sm-2 control-label">法人办公电话：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="leOfficePhone" name="leOfficePhone" 
	      			th:value="${d.leOfficePhone}"  placeholder="请填写学校法人办公电话"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="lePhone" class="col-sm-2 control-label">法人联系方式：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="lePhone" name="lePhone" 
	      			th:value="${d.lePhone}"  placeholder="请填写法人联系方式"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="leFax" class="col-sm-2 control-label">法人传真：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="leFax" name="leFax" 
	      			th:value="${d.leFax}"  placeholder="请填写学校法人传真"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="leEmail" class="col-sm-2 control-label">法人EMAIL：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="leEmail" name="leEmail" 
					th:value="${d.leEmail}" placeholder="请填写法人email"/>
	    	</div>
	    	</div>
	  	</div>
		</fieldset>
		
		<fieldset>
		<legend>联系人信息</legend>
		<div class="form-group">
			<div class="rowGroup">
	  		<label for="conName" class="col-sm-2 control-label">联系人姓名：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="conName" name="conName" 
	      			th:value="${d.conName}"  placeholder="请填写学校联系人姓名"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="conPost" class="col-sm-2 control-label">联系人职务：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="conPost" name="conPost" 
	      			th:value="${d.conPost}"  placeholder="请填写联系人职务"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="conOfficePhone" class="col-sm-2 control-label">联系人办公电话：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="conOfficePhone" name="conOfficePhone" 
	      			th:value="${d.conOfficePhone}"  placeholder="请填写学校联系人办公电话"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="conPhone" class="col-sm-2 control-label">联系人联系方式：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="conPhone" name="conPhone" 
	      			th:value="${d.conPhone}"  placeholder="请填写联系人联系方式"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="conFax" class="col-sm-2 control-label">联系人传真：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="conFax" name="conFax" 
	      			th:value="${d.conFax}"  placeholder="请填写学校联系人传真"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="conEmail" class="col-sm-2 control-label">联系人EMAIL：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="conEmail" name="conEmail" 
	      			th:value="${d.conEmail}"  placeholder="请填写联系人EMAIL"/>
	    	</div>
	    	</div>
	  	</div>
		</fieldset>
		<div class="form-group text-center">
			<input type="button" id="save" class="btn btn-primary" value="保存" />
			<input type="button" id="update" class="btn btn-primary" value="修改" style="display: none"/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			
		</div>
		</form>
		</div>
		<div id='2' class="col-md-12 jumbotron">
		<form class="form-horizontal"  method="post" id="schoolTTForm" name="schoolTTForm" style="width: clac(90%+2em)" >
		<fieldset>
		<legend>师资队伍</legend>
		<input type="hidden" name="id" id="TTid" th:value="${t.id}">
		<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s1" class="col-sm-2 control-label">生师比（X:1）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s1" name="s1" 
	      			th:value="${t.s1}"  placeholder="请填写生师比（X:1）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s2" class="col-sm-2 control-label">国家级高层次人才数（人）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s2" name="s2" 
	      			th:value="${t.s2}"  placeholder="请填写国家级高层次人才数（人）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s3" class="col-sm-2 control-label">省级人才数（人）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s3" name="s3" 
	      			th:value="${t.s3}"  placeholder="请填写省级人才数（人）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s4" class="col-sm-2 control-label">国家级高层次教学、研究团队数 （个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s4" name="s4" 
	      			th:value="${t.s4}"  placeholder="请填写国家级高层次教学、研究团队数 （个）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s5" class="col-sm-2 control-label">省级教学、研究团队数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s5" name="s5" 
	      			th:value="${t.s5}"  placeholder="请填写省级教学、研究团队数（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s8" class="col-sm-2 control-label">具有国（境）外学习工作经历的专任教师占比（%）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s8" name="s8" 
	      			th:value="${t.s8}"  placeholder="请填写具有国（境）外学习工作经历的专任教师占比（%）"/>
	    	</div>
	    	</div>
	  	</div>
		
		<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s9" class="col-sm-2 control-label">双师型专任教师占比（%）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s9" name="s9" 
	      			th:value="${t.s9}"  placeholder="请填写双师型专任教师占比（%）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s10" class="col-sm-2 control-label">企业兼职教师占比（%）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s10" name="s10" 
	      			th:value="${t.s10}"  placeholder="请填写企业兼职教师占比（%）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s11" class="col-sm-2 control-label">专业教师人均企业实践时间（天/人）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s11" name="s11" 
	      			th:value="${t.s11}"  placeholder="请填写专业教师人均企业实践时间（天/人）"/>
	    	</div>
	    	</div>
	  	</div>
		</fieldset>
		
		<fieldset>
		<legend>教学资源</legend>
		<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s12" class="col-sm-2 control-label">实践课时占比（%）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s12" name="s12" 
	      			th:value="${t.s12}"  placeholder="请填写实践课时占比（%）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s13" class="col-sm-2 control-label">公开出版的校企合作教材数（种）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s13" name="s13" 
	      			th:value="${t.s13}"  placeholder="请填写公开出版的校企合作教材数（种）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s14" class="col-sm-2 control-label">国家级规划教材、精品教材数（种）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s14" name="s14" 
	      			th:value="${t.s14}"  placeholder="请填写国家级规划教材、精品教材数（种）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s15" class="col-sm-2 control-label">省部级规划教材、精品教材数（种）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s15" name="s15" 
	      			th:value="${t.s15}"  placeholder="请填写省部级规划教材、精品教材数（种）"/>
	    	</div>
	    	</div>
	  	</div>
		<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s16" class="col-sm-2 control-label">省部级教学资源库开发数量（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s16" name="s16" 
	      			th:value="${t.s16}"  placeholder="请填写省部级教学资源库开发数量（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s17" class="col-sm-2 control-label">生均图书流通量、生均电子资源访问量（次/人）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s17" name="s17" 
	      			th:value="${t.s17}" placeholder="请填写生均图书流通量、生均电子资源访问量（次/人）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s18" class="col-sm-2 control-label">省级以上实习实训基地数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s18" name="s18" 
	      			th:value="${t.s18}"  placeholder="请填写省级以上实习实训基地数（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s19" class="col-sm-2 control-label">产学研合作项目（基地）数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s19" name="s19" 
	      			th:value="${t.s19}"  placeholder="请填写产学研合作项目（基地）数（个）"/>
	    	</div>
	    	</div>
	  	</div>
		</fieldset>
		
		<div class="form-group text-center">
			<input type="button" id="saveTT" class="btn btn-primary" value="保存" />
			<input type="button" id="updateTT" class="btn btn-primary" value="修改" style="display: none"/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			
		</div>
		</form>
		
		
		</div>
		<div id='3' class="col-md-12 jumbotron">
		<form class="form-horizontal"  method="post" id="schoolSRSMForm" name="schoolSRSMForm" style="width: clac(90%+2em)" >
		<fieldset>
		<legend>支撑平台</legend>
		<input type="hidden" name="id" id="SRSMid" th:value="${s.id}">
		<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s20" class="col-sm-2 control-label">国家级现代学徒制试点（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s20" name="s20" 
	      			th:value="${s.s20}"  placeholder="请填写国家级现代学徒制试点（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s21" class="col-sm-2 control-label">省级现代学徒制试点（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s21" name="s21" 
	      			th:value="${s.s21}"  placeholder="请填写省级现代学徒制试点（个）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s22" class="col-sm-2 control-label">省级及以上三全育人综合改革试点（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s22" name="s22" 
	      			th:value="${s.s22}"  placeholder="请填写省级及以上三全育人综合改革试点（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s23" class="col-sm-2 control-label">省级及以上教学工作诊断与改进工作试点（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s23" name="s23" 
	      			th:value="${s.s23}"  placeholder="请填写省级及以上教学工作诊断与改进工作试点（个）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s24" class="col-sm-2 control-label">国家级创新创业教育示范基地数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s24" name="s24" 
	      			th:value="${s.s24}"  placeholder="请填写国家级创新创业教育示范基地数（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s25" class="col-sm-2 control-label">省部级创新创业教育示范基地数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s25" name="s25" 
	      			th:value="${s.s25}"  placeholder="请填写省部级创新创业教育示范基地数（个）"/>
	    	</div>
	    	</div>
	  	</div>
		
		<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s26" class="col-sm-2 control-label">省级示范性实习实训基地（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s26" name="s26" 
	      			th:value="${s.s26}"  placeholder="请填写省级示范性实习实训基地（个）"/>
	    	</div>
	    	</div>
	    	
	  	</div>

		</fieldset>
		
		<fieldset>
		<legend>科研项目</legend>
		<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s27" class="col-sm-2 control-label">师均科研经费（万元/人）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s27" name="s27" 
	      			th:value="${s.s27}"  placeholder="请填写师均科研经费（万元/人）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s28" class="col-sm-2 control-label">师均新增省部级科研项目数（个/人）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s28" name="s28" 
	      			th:value="${s.s28}"  placeholder="请填写师均新增省部级科研项目数（个/人）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s29" class="col-sm-2 control-label">师均企事业委托项目数（个/人）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s29" name="s29" 
	      			th:value="${s.s29}"  placeholder="请填写师均企事业委托项目数（个/人）"/>
	    	</div>
	    	</div>
	    </div>
		</fieldset>
		
		<fieldset>
		<legend>学生发展</legend>
		<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s30" class="col-sm-2 control-label">高级职称人员、技术技能大师为学生授课比例（%）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s30" name="s30" 
	      			th:value="${s.s30}"  placeholder="请填写高级职称人员、技术技能大师为学生授课比例（%）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s31" class="col-sm-2 control-label">学生在国家级竞赛中获得奖励数（项）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s31" name="s31" 
	      			th:value="${s.s31}"  placeholder="请填写学生在国家级竞赛中获得奖励数（项）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s32" class="col-sm-2 control-label">学生在省级竞赛中获得奖励数（项）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s32" name="s32" 
	      			th:value="${s.s32}"  placeholder="请填写学生在省级竞赛中获得奖励数（项）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s33" class="col-sm-2 control-label">学生初次就业率（%）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s33" name="s33" 
	      			th:value="${s.s33}"  placeholder="请填写学生初次就业率（%）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s34" class="col-sm-2 control-label">学生本省就业率（%）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s34" name="s34" 
	      			th:value="${s.s34}"  placeholder="请填写学生本省就业率（%）"/>
	    	</div>
	    	</div>
	    </div>
		</fieldset>
		
		<fieldset>
		<legend>专业</legend>
		<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s35" class="col-sm-2 control-label">国家级特色高水平专业数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s35" name="s35" 
	      			th:value="${s.s35}"  placeholder="请填写国家级特色高水平专业数（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s36" class="col-sm-2 control-label">国家级重点专业数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s36" name="s36" 
	      			th:value="${s.s36}"  placeholder="请填写国家级重点专业数（个）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s37" class="col-sm-2 control-label">国家级优质（骨干）专业数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s37" name="s37" 
	      			th:value="${s.s37}"  placeholder="请填写国家级优质（骨干）专业数（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s38" class="col-sm-2 control-label">入选“特色高水平专业（群）”数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s38" name="s38" 
	      			th:value="${s.s38}"  placeholder="请填写入选“特色高水平专业（群）”数（个）"/>
	    	</div>
	    	</div>
	  	</div>
		</fieldset>
		
		<div class="form-group text-center">
			<input type="button" id="saveSRSM" class="btn btn-primary" value="保存" />
			<input type="button" id="updateSRSM" class="btn btn-primary" value="修改" style="display: none"/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			
		</div>
		</form>
		</div>
		<div id='4' class="col-md-12 jumbotron">
		<form class="form-horizontal"  method="post" id="schoolIISSForm" name="schoolIISSForm" style="width: clac(90%+2em)" >
		<fieldset>
		<legend>创新成果</legend>
		<input type="hidden" name="id" id="IISSid" th:value="${f.id}">
		<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s39" class="col-sm-2 control-label">国家级教学成果奖获奖数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s39" name="s39" 
	      			th:value="${f.s39}"  placeholder="请填写国家级教学成果奖获奖数（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s40" class="col-sm-2 control-label">省级教学成果奖获奖数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s40" name="s40" 
	      			th:value="${f.s40}"  placeholder="请填写省级教学成果奖获奖数（个）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s41" class="col-sm-2 control-label">获国家级科研奖项数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s41" name="s41" 
	      			th:value="${f.s41}"  placeholder="请填写获国家级科研奖项数（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s42" class="col-sm-2 control-label">获省部级和行业科研奖项数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s42" name="s42" 
	      			th:value="${f.s42}"  placeholder="请填写获省部级和行业科研奖项数（个）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s43" class="col-sm-2 control-label">师均论文数（篇/人）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s43" name="s43" 
	      			th:value="${f.s43}"  placeholder="请填写师均论文数（篇/人）"/>
	    	</div>
	    	</div>
	    	
	  	</div>
		</fieldset>
		
		<fieldset>
		<legend>国际交流</legend>
		<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s44" class="col-sm-2 control-label">在校学历教育国际学生占比（%）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s44" name="s44" 
	      			th:value="${f.s44}"  placeholder="请填写在校学历教育国际学生占比（%）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s45" class="col-sm-2 control-label">学生国（境）外学习、实习占比（%）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s45" name="s45" 
	      			th:value="${f.s45}"  placeholder="请填写学生国（境）外学习、实习占比（%）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s46" class="col-sm-2 control-label">国际合作办学机构（项目）数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s46" name="s46" 
	      			th:value="${f.s46}"  placeholder="请填写国际合作办学机构（项目）数（个）"/>
	    	</div>
	    	</div>
	    </div>
		</fieldset>
		
		<fieldset>
		<legend>社会服务</legend>
		<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s47" class="col-sm-2 control-label">技术转让当年实际收入（万元）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s47" name="s47" 
	      			th:value="${f.s47}"  placeholder="请填写技术转让当年实际收入（万元）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s48" class="col-sm-2 control-label">决策咨询报告采纳数（篇）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s48" name="s48" 
	      			th:value="${f.s48}"  placeholder="请填写决策咨询报告采纳数（篇）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s49" class="col-sm-2 control-label">社会培训人时数（人天）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s49" name="s49" 
	      			th:value="${f.s49}"  placeholder="请填写社会培训人时数（人天）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
		</fieldset>
		
		<fieldset>
		<legend>办学声誉</legend>
		<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s50" class="col-sm-2 control-label">第一志愿录取率（%）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s50" name="s50" 
	      			th:value="${f.s50}"  placeholder="请填写第一志愿录取率（%）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s51" class="col-sm-2 control-label">毕业生满意度（%）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s51" name="s51" 
	      			th:value="${f.s51}"  placeholder="请填写毕业生满意度（%）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s52" class="col-sm-2 control-label">社会捐赠收入占比（%）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s52" name="s52" 
	      			th:value="${f.s52}"  placeholder="请填写社会捐赠收入占比（%）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s53" class="col-sm-2 control-label">国家级示范校、骨干校荣誉数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s53" name="s53" 
	      			th:value="${f.s53}"  placeholder="请填写国家级示范校、骨干校荣誉数（个）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s54" class="col-sm-2 control-label">国家级特色高水平院校荣誉数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s54" name="s54" 
	      			th:value="${f.s54}"  placeholder="请填写国家级特色高水平院校荣誉数（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s55" class="col-sm-2 control-label">国家级优质校荣誉数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s55" name="s55" 
	      			th:value="${f.s55}"  placeholder="请填写国家级优质校荣誉数（个）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s56" class="col-sm-2 control-label">省级示范校、骨干校、优质校荣誉数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s56" name="s56" 
	      			th:value="${f.s56}"  placeholder="请填写省级示范校、骨干校、优质校荣誉数（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s57" class="col-sm-2 control-label">产教融合规划项目（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s57" name="s57" 
	      			th:value="${f.s57}"  placeholder="请填写产教融合规划项目（个）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="s58" class="col-sm-2 control-label">承办过全国职业院校技能大赛个数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s58" name="s58" 
	      			th:value="${f.s58}"  placeholder="请填写承办过全国职业院校技能大赛个数（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="s59" class="col-sm-2 control-label">发布《高等职业院校质量年度报告》个数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="s59" name="s59" 
	      			th:value="${f.s59}"  placeholder="请填写发布《高等职业院校质量年度报告》个数（个）"/>
	    	</div>
	    	</div>
	  	</div>
		</fieldset>
		
		<div class="form-group text-center">
			<input type="button" id="saveIISS" class="btn btn-primary" value="保存" />
			<input type="button" id="updateIISS" class="btn btn-primary" value="修改" style="display: none"/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			
		</div>
		</form>
		</div>
		<div id='5' class="col-md-12 jumbotron">
		<form class="form-horizontal"  method="post" id="schoolSBForm" name="schoolSBForm" style="width: clac(90%+2em)" >
		<fieldset>
		<legend>办学经费<span style="font-size: 14px;">（数据来源于2017年、2018年、2019年“数据平台”）</span></legend>
		<input type="hidden" name="id" id="SBid" th:value="${x.id}">
		<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="x1" class="col-sm-2 control-label">本学校年生均财政拨款水平（万元）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="x1" name="x1" 
	      			th:value="${x.x1}"  placeholder="请填写本学校年生均财政拨款水平（万元）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="x2" class="col-sm-2 control-label">2017年学校总收入（万元）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="x2" name="x2" 
	      			th:value="${x.x2}"  placeholder="请填写2017年学校总收入（万元）"/>
	    	</div>
	    	</div>
	  	</div>
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="x3" class="col-sm-2 control-label">2017年学校总支出（万元）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="x3" name="x3" 
	      			th:value="${x.x3}"  placeholder="请填写2017年学校总支出（万元）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="x4" class="col-sm-2 control-label">2018年学校总收入（万元）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="x4" name="x4" 
	      			th:value="${x.x4}"  placeholder="请填写2018年学校总收入（万元）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="x5" class="col-sm-2 control-label">2018年学校总支出（万元）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="x5" name="x5" 
	      			th:value="${x.x5}"  placeholder="请填写2018年学校总支出（万元）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="x6" class="col-sm-2 control-label">2019年学校总收入（万元）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="x6" name="x6" 
	      			th:value="${x.x6}"  placeholder="请填写2019年学校总收入（万元）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="x7" class="col-sm-2 control-label">2019年学校总支出（万元）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="x7" name="x7" 
	      			th:value="${x.x7}"  placeholder="请填写2019年学校总支出（万元）"/>
	    	</div>
	    	</div>
	  	</div>

		</fieldset>
		
		<fieldset>
		<legend>基本条件</legend>
		<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="x8" class="col-sm-2 control-label">学校办学条件高于专科高职学校设置标准：</label>
	    	<div class="col-sm-4">
			<div class="radio">
            	<label>
					<input type="radio" name="x8" value="true" th:field="${x.x8}"/>是
                </label>
           	</div>
            <div class="radio">
            	<label>
					<input type="radio" name="x8" value="false" th:field="${x.x8}"/>否
            	</label>
            </div>
                                
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="x9" class="col-sm-2 control-label">年生均财政拨款水平达到国家统一要求：</label>
	    	<div class="col-sm-4">
	      	<div class="radio">
            	<label>
                	<input type="radio" name="x9" value="true" th:field="${x.x9}"/>是
                </label>
           	</div>
            <div class="radio">
            	<label>
                	<input type="radio" name="x9" value="false" th:field="${x.x9}"/>否
            	</label>
            </div>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="x10" class="col-sm-2 control-label">校园网全覆盖：</label>
	    	<div class="col-sm-4">
			<div class="radio">
            	<label>
                	<input type="radio" name="x10" value="true" th:field="${x.x10}"/>是
                </label>
           	</div>
            <div class="radio">
            	<label>
                	<input type="radio" name="x10" value="false" th:field="${x.x10}"/>否
            	</label>
            </div>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="x11" class="col-sm-2 control-label">有三届以上全日制普通专科（三年制）毕业生：</label>
	    	<div class="col-sm-4">
	      	<div class="radio">
            	<label>
                	<input type="radio" name="x11" value="true" th:field="${x.x11}"/>是
                </label>
           	</div>
            <div class="radio">
            	<label>
                	<input type="radio" name="x11" value="false" th:field="${x.x11}"/>否
            	</label>
            </div>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="x12" class="col-sm-2 control-label">重点建设专业群的全日制在校生规模在800人以上：</label>
	    	<div class="col-sm-4">
		    <div class="radio">
            	<label>
                	<input type="radio" name="x12" value="true" th:field="${x.x12}"/>是
                </label>
           	</div>
            <div class="radio">
            	<label>
                	<input type="radio" name="x12" value="false" th:field="${x.x12}"/>否
            	</label>
            </div>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="x13" class="col-sm-2 control-label">学校师生在校期间获得过省级教学成果一等及以上奖：</label>
	    	<div class="col-sm-4 checkbox">
	      	<div class="radio">
            	<label>
                	<input type="radio" name="x13" value="true" th:field="${x.x13}"/>是
                </label>
           	</div>
            <div class="radio">
            	<label>
                	<input type="radio" name="x13" value="false" th:field="${x.x13}"/>否
            	</label>
            </div>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="x14" class="col-sm-2 control-label">学校师生在校期间获得过吉林省高等职业院校技能大赛一等奖：</label>
	    	<div class="col-sm-4 checkbox">
		    <div class="radio">
            	<label>
                	<input type="radio" name="x14" value="true" th:field="${x.x14}"/>是
                </label>
           	</div>
            <div class="radio">
            	<label>
                	<input type="radio" name="x14" value="false" th:field="${x.x14}"/>否
            	</label>
            </div>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="x15" class="col-sm-2 control-label">2016年以来，学校（单位或现任主要领导）没有因违纪违法受到处分的情况：</label>
	    	<div class="col-sm-4 checkbox">
	      	<div class="radio">
            	<label>
                	<input type="radio" name="x15" value="true" th:field="${x.x15}"/>是
                </label>
           	</div>
            <div class="radio">
            	<label>
                	<input type="radio" name="x15" value="false" th:field="${x.x15}"/>否
            	</label>
            </div>
	    	</div>
	    	</div>
	  	</div>
		</fieldset>
		
		<div class="form-group text-center">
			<input type="button" id="saveSB" class="btn btn-primary" value="保存" />
			<input type="button" id="updateSB" class="btn btn-primary" value="修改" style="display: none"/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			
		</div>
		</form>
		
		</div>
		
		<div id='6' class="col-md-12 jumbotron">
		<form class="form-horizontal"  method="post" id="schoolLAONForm" name="schoolLAONForm" style="width: clac(90%+2em)" >
		<fieldset>
		<legend>标志性成果</legend>
		<input type="hidden" name="id" id="LAONid" th:value="${g.id}">
		<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="g1" class="col-sm-2 control-label">国家示范校、骨干校、优质校成果数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g1" name="g1" 
	      			th:value="${g.g1}"  placeholder="请填写国家示范校、骨干校、优质校成果数（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="g2" class="col-sm-2 control-label">吉林省示范校、骨干校、优质校成果数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g2" name="g2" 
	      			th:value="${g.g2}"  placeholder="请填写吉林省示范校、骨干校、优质校成果数（个）"/>
	    	</div>
	    	</div>
	  	</div>
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="g3" class="col-sm-2 control-label">国家级教育教学改革试点数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g3" name="g3" 
	      			th:value="${g.g3}"  placeholder="请填写国家级教育教学改革试点数（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="g4" class="col-sm-2 control-label">省级教育教学改革试点数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g4" name="g4" 
	      			th:value="${g.g4}"  placeholder="请填写省级教育教学改革试点数（个）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="g5" class="col-sm-2 control-label">国家级重点专业数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g5" name="g5" 
	      			th:value="${g.g5}"  placeholder="请填写国家级重点专业数（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="g6" class="col-sm-2 control-label">省级重点专业数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g6" name="g6" 
	      			th:value="${g.g6}"  placeholder="请填写省级重点专业数（个）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="g7" class="col-sm-2 control-label">国家级财政支持的实训基地数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g7" name="g7" 
	      			th:value="${g.g7}"  placeholder="请填写国家级财政支持的实训基地数（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="g8" class="col-sm-2 control-label">省级财政支持的实训基地数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g8" name="g8" 
	      			th:value="${g.g8}"  placeholder="请填写省级财政支持的实训基地数（个）"/>
	    	</div>
	    	</div>
	  	</div>

		<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="g9" class="col-sm-2 control-label">国家职业教育教学资源库数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g9" name="g9" 
	      			th:value="${g.g9}"  placeholder="请填写国家职业教育教学资源库数（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="g10" class="col-sm-2 control-label">全国就业创业典型数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g10" name="g10" 
	      			th:value="${g.g10}"  placeholder="请填写全国就业创业典型数（个）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="g11" class="col-sm-2 control-label">吉林省就业创业典型数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g11" name="g11" 
	      			th:value="${g.g11}"  placeholder="请填写吉林省就业创业典型数（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="g12" class="col-sm-2 control-label">教师国家级荣誉数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g12" name="g12" 
	      			th:value="${g.g12}"  placeholder="请填写教师国家级荣誉数（个）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="g13" class="col-sm-2 control-label">教师省级荣誉数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g13" name="g13" 
	      			th:value="${g.g13}"  placeholder="请填写教师省级荣誉数（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="g14" class="col-sm-2 control-label">承办全国职业院校技能大赛数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g14" name="g14" 
	      			th:value="${g.g14}"  placeholder="请填写承办全国职业院校技能大赛数（个）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="g15" class="col-sm-2 control-label">承办吉林省职业院校技能大赛数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g15" name="g15" 
	      			th:value="${g.g15}"  placeholder="请填写承办吉林省职业院校技能大赛数（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="g16" class="col-sm-2 control-label">国家级教学成果奖励数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g16" name="g16" 
	      			th:value="${g.g16}"  placeholder="请填写.国家级教学成果奖励数（个）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="g17" class="col-sm-2 control-label">吉林省教学成果奖励数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g17" name="g17" 
	      			th:value="${g.g17}"  placeholder="请填写吉林省教学成果奖励数（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="g18" class="col-sm-2 control-label">教师全国职业院校教学能力比赛获奖：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g18" name="g18" 
	      			th:value="${g.g18}"  placeholder="请填写教师全国职业院校教学能力比赛获奖（含职业院校信息化教学大赛）数（个）"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="g19" class="col-sm-2 control-label">教师吉林省职业院校教学能力比赛获奖（含职业院校信息化教学大赛）数（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g19" name="g19" 
	      			th:value="${g.g19}"  placeholder="请填写教师吉林省职业院校教学能力比赛获奖（含职业院校信息化教学大赛）数（个）"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="g20" class="col-sm-2 control-label">学生全国职业院校技能大赛获奖数（个）近五年：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g20" name="g20" 
	      			th:value="${g.g20}"  placeholder="请填写学生全国职业院校技能大赛获奖数（个）近五年"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="g21" class="col-sm-2 control-label">学生吉林省职业院校技能大赛获奖数（个）近五年：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g21" name="g21" 
	      			th:value="${g.g21}"  placeholder="请填写学生吉林省职业院校技能大赛获奖数（个）近五年"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="g22" class="col-sm-2 control-label">学生中国“互联网+”大学生创新创业大赛获奖数（个）近五年：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g22" name="g22" 
	      			th:value="${g.g22}"  placeholder="请填写学生中国“互联网+”大学生创新创业大赛获奖数（个）近五年"/>
	    	</div>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="g23" class="col-sm-2 control-label">学生吉林省“互联网+”大学生创新创业大赛获奖数（个）近五年：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g23" name="g23" 
	      			th:value="${g.g23}"  placeholder="请填写学生吉林省“互联网+”大学生创新创业大赛获奖数（个）近五年"/>
	    	</div>
	    	</div>
	    	<div class="rowGroup">
	    	<label for="g24" class="col-sm-2 control-label">学生“挑战杯”全国大学生课外学术科技作品竞赛和中国大学生创业计划竞赛获奖数（个）近五年：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g24" name="g24" 
	      			th:value="${g.g24}"  placeholder="请填写学生“挑战杯”全国大学生课外学术科技作品竞赛和中国大学生创业计划竞赛获奖数（个）近五年"/>
	    	</div>
	    	</div>
	  	</div>
		</fieldset>
		<fieldset>
		<legend>其它国家级成果</legend>
		<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="g25" class="col-sm-2 control-label">其它国家级成果数，学校须为主持单位（个）：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="g25" name="g25" 
	      			th:value="${g.g25}"  placeholder="请填写其它国家级成果数，学校须为主持单位（个）"/>
	    	</div>
	    	</div>
	    	
	  	</div>
		</fieldset>
		
		
		<div class="form-group text-center">
			<input type="button" id="saveLAON" class="btn btn-primary" value="保存" />
			<input type="button" id="updateLAON" class="btn btn-primary" value="修改" style="display: none"/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			
		</div>
		</form>
		
		</div>
		<div id="7" class="col-md-12 jumbotron">
			<form action="" class="form-horizontal tab-content" id="uploadForm" method="post" >
				<div class="form-group">
	        	<label class="col-sm-2 control-label">附件材料</label>
		            <div class="col-md-10">
		            	<span class="btn fileinput-button" style="width:100%">
					        <i class="glyphicon glyphicon-plus"></i>
					        <span style="color: red">请务必上传附件材料，包含：项目申报书、项目建设方案（提纲）、相关佐证材料</span>
					        <input type="file" id="file" multiple name="file"  />
					    </span>
		            </div>
	            </div>
            </form>
		</div>
		
		<div id="8" class="col-md-12 jumbotron">
		<form action="" class="form-horizontal tab-content" id="scoreForm" name="scoreForm" method="post" >
		<input type="hidden" id="SCOREid" name="id" th:value="${a.id}">
		<input type="hidden" id="userId" name="userId" th:value="${createId}">
		<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="score" class="col-sm-2 control-label">评价结果[0-100]:</label>
	    	<div class="col-sm-6">
	      		<input type="text" class="form-control" id="score" name="score" 
	      			th:value="${a.score}"  placeholder="请打分"/>
	    	</div>
	    	</div>
	    	
	  	</div>
	  	
	  	<div class="form-group">
	  		<div class="rowGroup">
	  		<label for="score" class="col-sm-2 control-label">评价结论:</label>
	    	<div class="col-sm-6">
	      		<textarea  class="form-control" id="remark" name="remark" >
[[${a.remark}]]
	      		</textarea>
	    	</div>
	    	</div>
	    	
	  	</div>
	  	
	  	<div class="form-group text-center">
			<input type="button" id="saveSCORE" class="btn btn-primary" value="保存" />
			<input type="button" id="updateSCORE" class="btn btn-primary" value="修改" style="display: none"/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			
		</div>
		</form>
		
		</div>
	</div>

</body>
</html>