<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>

	<div th:fragment="info" >
		<div id='1' class="col-md-12 jumbotron">
		<form class="form-horizontal"  method="post" id="schoolEditForm" name="schoolEditForm" style="width: 90%" >
		<fieldset>
		<legend>基础信息</legend>
		<div class="form-group">
	    	<label for="schoolName" class="col-sm-2 control-label">学校名称：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="schoolName" name="schoolName" 
	      			placeholder="请输入学校名称" value="" />
	    	</div>
	    	<label for="address" class="col-sm-2 control-label">学校地址：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="address" name="address" 
	      			placeholder="请输入学校地址" value="" />
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	    	<label for="buildDay" class="col-sm-2 control-label">建校日期：</label>
	    	<div class="col-sm-4">
	      		<input type="text" class="form-control" id="buildDay" name="buildDay" 
	      		value=""  placeholder="请填写建校日期"/>
	    	</div>
	    	<label for="nature" class="col-sm-2 control-label">学校性质：</label>
	    	<div class="col-sm-4">
	      		<select class="form-control" id="nature" name="nature" >
	      			<option value="公办">公办</option>
	      			<option value="私立">私立</option>
	      		</select>
	    	</div>
	  	</div>
	  	
	  	<div class="form-group">
	    	<label for="type" class="col-sm-2 control-label">举办单位：</label>
	    	<div class="col-sm-4">
	      		<select class="form-control" id="type" name="type" >
	      			<option value="省级政府">省级政府</option>
	      			<option value="地市级政府">地市级政府</option>
	      			<option value="行业">行业</option>
	      			<option value="企业">企业</option>
	      			<option value="其他">其他</option>
	      		</select>
	    	</div>
	  	</div>
		  	
		</fieldset>
		<input type="submit" value="提交">
		</form>
		</div>
		<div id='2' class="col-md-12 jumbotron">2222</div>
		<div id='3' class="col-md-12 jumbotron">3333</div>
		<div id='4' class="col-md-12 jumbotron">4444</div>
		<div id='5' class="col-md-12 jumbotron">5555</div>
		
	</div>

</body>
</html>