<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.webset.mapper.ImagesMajorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="MajorImageMap" type="net.webset.entity.ImagesMajor">
        <id column="id" property="id" />
        <result column="majorId" property="majorId" />
        <result column="create_id" property="createId" />
        <result column="name" property="name" />
        <result column="source_name" property="sourceName" />
        <result column="size" property="size" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, majorId, create_id, name, source_name, size, type
    </sql>

</mapper>
