<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.webset.mapper.MajorTextMapper">
    <resultMap id="MajorTextMap" type="net.webset.entity.MajorText">
        <id column="id" property="id" />
		
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    id, majorid, name, type, state, isdel,  createtime,  updatetime, t1, t2, t3, t4,  t5,  t6, t7, t8, t9,  t10, t11, t12, t13, t14, t15, t16, t17, t18, t19, t20, t21, create_id, t22, t23
    </sql>



    <!--专业数据得分列表-->
    <select id="getMajorScoreList" parameterType="net.webset.wapper.MajorTextWapper"
            resultType="net.webset.wapper.api.vos.MajorScoreVO">
        SELECT
        bmt.`id`,bmt.majorid,NAME,type,state,bmt.isdel,bmt.createtime,bmt.updatetime,t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12,t13,t14,t15,t16,t17,t18,t19,t20,t21,bmt.create_id,score,t22,t23
        FROM
        b_major_text bmt
        LEFT JOIN b_major_score bms ON bmt.majorId = bms.majorId
        AND
        bms.create_id = #{majorTextWapper.createId}
        <where>
            <if test="majorTextWapper.majorTextName != null and majorTextWapper.majorTextName != ''">and t1 like
                concat('%',#{majorTextWapper.majorTextName},'%')
            </if>
            <if test="majorTextWapper.t2 != null and majorTextWapper.t2 != ''">and t2 like
                concat('%',#{majorTextWapper.t2},'%')
            </if>
        </where>
        ORDER BY bmt.`updatetime` DESC
    </select>


</mapper>
